%h1 Listing people

%table.DataList
  %tr
    %th.first Name
    %th Email
  - @people.each do |person|
    %tr{:class => cycle('even','odd') }
      %td.first= link_to "#{person.first_name} #{person.last_name}", object_url(person)
      %td= h person.email
        
%p=link_to 'New person', new_object_url