/* Thanks Eric! */ html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;outline: 0;font-weight: inherit;font-style: inherit;font-size: 100%;font-family: inherit;vertical-align: baseline;}:focus { outline: 0;} body { line-height: 1; color: black;background: white; } ol, ul { list-style: none; } table { border-collapse: separate;border-spacing: 0; } caption, th, td { text-align: left; font-weight: normal; } blockquote:before, blockquote:after, q:before, q:after { content: ""; } blockquote, q { quotes: "" ""; }

body
{
  background:#f9f9f9;
  text-align:center;
  font-family: Helvetica, Arial, "MS Trebuchet", sans-serif;
  font-size:67.5%;
}

div#container
{
  margin:1em auto;
  text-align:left;
  width:960px;
  padding:2em;
}

ul#mainnav
{
  border-bottom:1px solid #adadad;
  margin-bottom:2em;
  text-align:right;
}

ul#mainnav li
{
  display:inline;
  margin-left:1em;
  font-weight:bold;
  font-size:1.5em;
  letter-spacing:-1px;
}

ul#mainnav li a
{
  color:#4d4d4d;
  text-decoration:none;
}

ul#mainnav li a:hover
{
  border-bottom:5px solid #9a9a9a;
}

h1
{
  background:#fff;
  font-weight:bold;
  color:#333;
  font-size:3em;
  line-height:1em;
  border:1px solid #ddd;
  padding:15px 15px 8px 15px;
  margin-bottom:20px;
}

h1 span
{
  font-weight:normal;
  font-size:0.5em;
  color:#666;
}

p
{
  font-size:1.2em;
  margin-bottom:1em;
  line-height:1.5em;
}

table.DataList
{
  width:100%;
}

table.DataList th
{
  font-size: 11px;
  font-weight: bold;
  color: #222;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  border-top: 1px solid #aaa;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: left;
  padding: 6px 6px 6px 12px;
  background: #ccc;
}

table.DataList th.first
{
  border-left: 1px solid #aaa;
}

table.DataList tr td
{
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #666;
}

table.DataList tr td.first
{
  border-left: 1px solid #ccc;
}

table.DataList tr td a
{
	color: #444;
}

table.DataList tr.odd td
{
	background: #efefef;
}

ul.DataList li
{
  padding:4px;
  border-bottom:1px dashed #ccc;
}

ul.DataList li strong
{
  font-weight:bold;
  display:block;
  float:left;
  width:80px;
}

p.Action
{
  font-size:18px;
  font-weight:bold;
  margin-top:15px;
}

p.Action a
{
  padding:6px;
  background:#ccc;
  color:#333;
  text-decoration:none;
  border-right:1px solid #999;
  border-bottom:1px solid #999;
  border-top:1px solid #fff;
  border-left:1px solid #fff;
}

p.Action a:hover
{
  background:#bbb;
  color:#000;
}

label
{
  display:block;
  font-weight:bold;
  text-transform:uppercase;
  margin-top:1em;
}

input[type=text]
{
  padding:3px;
  font-size:1.2em;
}

input[type=submit]
{
  font-size:1.6em;
}
