!!! strict
%html{ :lang => "en" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }/
    %title
      Group Nation - Development
    %meta{ :name => "author", :content => "Joe Fiorini & Josh Walsh" }/
    %link{ :href => "/stylesheets/screen.css", :rel => "stylesheet", :type => "text/css" }/
  %body
    #container
      %ul#mainnav
        %li= link_to "Dashboard"
        %li= link_to "Find a Group"
        %li= link_to "Account"
      = yield
